.navbar {
  width: 100%;
  /* max-width: 1600px; */
  height: 107.817px;
  background-color: #fff;
  top: 0px;
  z-index: 9999;
  position: fixed;
}

.nav-container {
  width: 100%;
  position: fixed;
  max-width: 1210px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.75rem 0 1.75rem 0;
  position: fixed;
  top: 0px;
  z-index: 9999;
  /* height: 3.3rem; */
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nav-item {
  margin-left: 1.999rem;
  font-size: 15px;
  font-weight: 400;
  color: #293066;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03px;
}

.navbar-btn {
  padding: 0.75rem 1.875rem;
  background-color: #018cf1;
  border-radius: 1.7188rem;
  color: #fff;
}

.login-icon {
  margin-right: 0.7rem;
}

@media (min-width: 961px) and (max-width: 1280px) {
  .nav-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
