.nav-container {
    width: 100%;
    position: fixed;
    /* height: 3.3rem; */
    max-width: 1210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.75rem 0 1.75rem 0;
    position: fixed;
    top: 0px;
    /* z-index: 9999; */
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.nav-item{
    margin-left: 2rem;
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.125rem;
    color: #293066;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.navbar-btn{
    padding: 0.75rem 1.875rem;
    background-color: #018cf1;
    border-radius: 1.7188rem;
    color: #fff;
    font-size: .9rem;
}


.login-icon{
    margin-right: 0.4rem;
}