.discover{
    max-width: 1210px;
    padding-top: 14.65rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.discover-title{
    font-weight: 800;
    color: #018cf1;
    font-size: 1.1 rem;
}

.discover-sub-title{
    font-size: 65px;
    font-weight: bold;
    color: #293066;
    margin-top: 1.48rem;
    width: 671px;
}


.discover-description{
font-size: 1.15rem;
color: #7b88a8;
margin-top: 2rem;
text-align: start;
line-height: 150%;
width: 98%;
}
.discover-slide-box{
    display: flex;
    margin-top: 2.4rem;
}
.discover-slider-button{
    font-weight: 500;
    color: #fff;
    background-color: #018cf1;
    font-size: 0.8rem;
    border-radius: 27.5px;
    padding: 1.25rem 2.61rem 1.25rem 3.83rem;
    line-height: 1;
    width: 22rem;
}

.discover-round-stroke-button{
    margin-left: 1.5rem;
    padding: 0.9rem 2rem;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
    border: 2.03704px solid #e5e7ee;
    border-radius: 27.5px;
}
.discover-image{
    transform: translate(-6%,-2.5%);
    margin-top: -3.2rem;

}







