.benefitInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 88.125rem;
  width: 32%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 4.5rem;
}
.benefitImage {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.benefitTitle {
  width: 100%;
  margin-top: 3.2rem;
  font-size: 1.875rem;
  font-weight: 700;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  color: #293066;
}

.benefitDescription {
  width: 70%;
  font-size: 1.125rem;
  font-weight: 400;
  /* letter-spacing: 0.0006rem; */
  line-height: 1.875rem;
  color: #7b88a8;
  margin-top: 1.2rem;
  text-align: center;
}

@media (min-width: 60.0625rem) and (max-width: 80rem) {
  .benefitImage {
    width: 36.875rem;
  }
}
