.benefitInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1410px;
  width: 32%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 4.5rem;
}
.benefitImage {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.benefitTitle {
  width: 100%;
  margin-top: 3.2rem;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  color: #293066;
}

.benefitDescription {
  width: 70%;
  font-size: 18px;
  font-weight: 400;
  /* letter-spacing: 0.01px; */
  line-height: 30px;
  color: #7b88a8;
  margin-top: 1.2rem;
  text-align: center;
}

@media (min-width: 961px) and (max-width: 1280px) {
  .benefitImage {
    width: 590px;
  }
}
