.benefits {
  /* max-width: 75.625rem; */
  padding-top: 6.68rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 6rem;
  width: 100%;
  margin-bottom: 8rem;
}

.benefitsText {
  width: 32.1875rem;
  margin-left: -3rem;
}
.benefitsImage {
  width: 46.25rem;
  transform: translate(8.5%, 3%);
}
.benefitsTitle {
  padding-top: 6.3rem;
  color: #018cf1;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.0225rem;
}

.benefitsSubTitle {
  font-size: 2.8125rem;
  font-weight: 700;
  color: #293066;
  line-height: 3.4287rem;
  margin-top: 1.59rem;
}
.benefitsDescription {
  font-weight: 400;
  margin-top: 1.4rem;
  font-size: 1.125rem;
  letter-spacing: 0.0063rem;
  line-height: 1.875rem;
  color: #7b88a8;
  width: 99.6%;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}
.discoverCheckmark {
  color: #293066;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-right: 1.3rem;
  letter-spacing: 0.0006rem;
}

.checkmark {
  margin-right: 0.7rem;
}

@media (min-width: 60.0625rem) and (max-width: 80rem) {
  .benefitsImage {
    width: 36.875rem;
  }
}
