.benefits {
  max-width: 1210px;
  display: flex;
  flex-direction: row;
  width: 100%;
  transform: translateX(-6.7%);
}
.benefitsImage {
  transform: translate(-6.5%, -1%);
  width: 785px;
  height: auto;
}
.benefitsTitle {
  padding-top: 6.4rem;
  color: #018cf1;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.benefitsSubTitle {
  font-size: 45px;
  font-weight: 700;
  color: #293066;
  line-height: 54.86px;
  width: 515px;
  margin-top: 1.59rem;
}
.benefitsDescription {
  font-weight: 400;
  margin-top: 1.55rem;
  font-size: 18px;
  letter-spacing: 0.1px;
  line-height: 28.9px;
  color: #7b88a8;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
}
.discoverCheckmark {
  color: #293066;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-right: 1.3rem;
  letter-spacing: 0.01px;
}

.checkmark {
  margin-right: 0.7rem;
}
